#top img {
	border: none;
}
div#container {
  width: 900px;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size:  12px;
  margin: 0 auto;
}

div#header {
  background: white url(../images/logo.png) no-repeat ;
  height: 41px;
  padding-left: 144px;
  border: 4px solid black;
}

.ui-tabs-hide { display: none; }

#hype-machine div {
	margin: 40px 0;
}

#hype-machine div img {
	float:  left;
}

#hype-machine div h2, #hype-machine div p {
	padding-left:  100px;
}

#hype-machine div h2 {
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: normal;
}

#hype-machine div{
	margin-bottom: 10px;
}

#hype-machine div p {
	margin-top: 5px;
	font-size:  14px;
	margin-left: 15px;
}

#hype-machine div#ahn img {
	margin-top: 10px;
}

#logo {
	border: 0;
	height: 20px;
}

#demos, #customer-showcase  {
	margin-top: 20px;
	padding: 0 20px;
	border:  1px solid #dadbdb;
	background-color: #faf6ed;
	color: #494949;
}

#demos h2 {
	margin-top: 8px;
	color: #494949;
}
